.App{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.AddPatientForm{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.AddPatientForm > button{
    border: transparent;
    background-color: cyan;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.label{
    margin: 0;
    /* font-weight: 500; */
}
.fieldname > input {
    margin-top: 10px;
    border: transparent;
    background-color: lightcyan;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* font-weight: 300; */
    font-size: 20px;
}

h2{
    margin-bottom: 50px;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}

td,th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

